<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sunny.Properties.Settings.SunnyDBConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=SunnyDB;Persist Security Info=True;User ID=sa;Password=abc13579"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>